@import "@stews/styles/layout";
@import "@stews/styles/theme";

.navigationContainer {
  @extend .rowContainer;
  align-items: baseline;
  padding-inline: calc(3 / 2) * $themeSpacer;
  padding-block: $themeSpacer;
}

.navigationMeterContainer {
  @extend .itemContainer;
  flex-grow: 1;
}

.navigationMeter {
  @extend .navigationText;
}

.navigationButtonBase {
  @extend .navigationText;
  color: $themeButtonTextColor;
}

.disabledButtonOverride {
  color: $themeDisabledColor;
  cursor: default;
}

.navigationText {
  font-size: 18px;
  font-weight: 700;
}

.navigationMeterAccessibilityDescription {
  display: none;
}

.pageButtonAccessibilityDescription {
  display: none;
}