@import "@stews/styles/layout";
@import "@stews/styles/theme";

.pageContainer {
  @extend .itemContainer;
}

.pageContentContainer {
  @extend .columnContainer;
  max-width: 512px;  
  flex-basis: 100%;  
}

.pageAccessibilityHeader {
  display: none;
}