@use "sass:math";
@import "@stews/styles/layout";
@import "@stews/styles/theme";


.buttonContainer {
  @extend .columnContainer;
  width: 0;
  flex-grow: 1;
  max-width: fit-content;
  align-items: stretch;
}

.selectButton {
  @extend .rowContainer;
  align-items: center;
  padding-inline: calc(1 / 2) * $themeSpacer;
}

.buttonLabel {
  @extend .textEllipsis;
  padding-inline-end: calc(5 / 4) * $themeSpacer;
  font-weight: 700;
  font-style: italic;
}

.iconContainer {
  @extend .itemContainer;
  padding-top: 0.01em;
}

.selectIcon {
  width: 0.675em;
  height: 0.675em;
}

.dropdownPolygon {
  stroke: black;
  stroke-width: 0.09;
  stroke-linejoin: round;
  fill: transparent;
}